* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 70%;
    background-color: rgb(52, 192, 211);
    min-height: 450px;
    padding: 40px 30px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.product {
    background-color: white;
    width: calc(90% /2);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.product:before {
    content: "";
    height: 30%;
    width: 100%;
    background-color: rgb(48, 47, 47);
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0; 
}

.header {
    color: white;
    text-align: center;
    position: relative;  /* when I take the position off, the header disappears ??? */
    margin: 0;
    top: 20px;
}

.header span {
    color: rgb(89, 182, 89);
}

.unlimited {
    background-color: white;
    text-align: center;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px #BDBDBD;
    padding: 20px;
    position: absolute;
    top: 18%;
}

.unlimited h4 {
    font-size: 20px;
    margin: 10px; 
}

.unlimited ul {
    padding-left: 0;
}

.unlimited ul li {
    text-align: left;
    font-size: 18px;
    padding: 10px 0 5px 20px;
    list-style: none;
}

.unlimited ul li span {
    display: inline-block;
    padding-right: 12px;
    color: rgb(221, 50, 101);
    font-size: 25px;
}

.unlimited a {
 display: inline-block;
 background-color: rgb(221, 50, 101); 
 text-decoration: none;
 color: white;
 padding: 10px 40px;
 border-radius: 10px;
}



