* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
} 

/* Start Content */

.content {
    margin: 20px;
    background-color: rgb(255, 251, 251);
    min-height : 100vh;
}

h2 {
    font-weight: 100;
    text-align: center;
    padding: 20px;
}

.info {
    margin: auto;
    background-color: #e2e0e0;
    padding: 10px;
    box-shadow: 7px 7px 8px #9E9E9E;
    margin: 20px;
    min-height: 100px;
}

.person {
    display: flex;
    padding : 50px 60px;
}

.user {
    flex-basis: 33%;
}

.image img {
    margin-left: 40px;
}

.name {
    font-weight: bold;
}

.name h3 {
    padding-bottom: 10px;
    font-size: x-large;
}

 .user span {
    font-weight: bold;
    font-size: x-large;  
}

.s-badges {
    display: flex;
    justify-content: space-between;
    margin: 30px 65px 30px 85px;
}

.badges h3 {
    font-size: x-large;
    margin-left: 89px;
    margin-top: 20px;
}

.badges span {
    flex-basis: 10%;
    width: 90px;
    height: 90px;
    background-color: #423f3f;
    border-radius: 50%;
    display: inline-block; 
}

.profile {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.profile h3 {
    padding: 20px 0 10px 40px;
}

.prof {
    flex-basis: 49%;
    min-height: 100px;
    background-color: #e2e0e0;
    box-shadow: 7px 7px 8px #9E9E9E;
    padding-bottom: 20px;
}

.percentage {
    position: relative;
    left: 70px;
}

.percentage .num {
    font-size: 100px;
    font-weight: bold;
}

.percentage .devide {
    width: 15px;
    height: 300px;
    background-color: black;
    position: absolute;
    left: 223px;
    top: 50px;
    transform: rotate(45deg);
}

.percentage .top {
    position: absolute;
    left: 50px;
    top: 60px;
}

.percentage .buttom {
    position: absolute;
    top: 260px;
    left: 191px;
}


.strength h3 {
    padding: 20px 0 10px 89px;
}

.prof .text  {
    padding: 13px 20px 23px 70px;
    font-weight: bold;
}

.completion span {
    width: 70px;
    height: 70px;
    background-color: #423f3f;
    color: white;
    font-size: x-large;
    border-radius: 50%;
    display: inline-block;
    padding: 20px 12px;
    margin-right: 20px; 
}

.profile .views {
    padding: 10px 60px 40px;
    text-align: center;
}

.views span {
    font-size: 80px;
    font-weight: bolder;
    margin: 0px;
    padding-bottom: 0; 
}

.views p {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0 40px 0;
}

.views p:last-child {
    font-size: medium;
}

.views .end-text {
    font-weight: normal;
    padding-top: 40px;
}

.association, .messages, .references, .invites {
    padding-bottom: 30px;
    position: relative;
}
.association p, .messages p,
.references p, .invites p {
    font-weight: bold;
    padding: 35px 10px 30px 153px;
    position: relative;
    margin-bottom: -7px;
}

.association p:before, 
.messages p:before,
.references p:before,
.invites p:before  {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #423f3f;
    position: absolute;
    left: 62px;
    bottom: 5px;
    margin: 10px;
}

 .profile .association .small,
 .references .small {
    font-size: 12px;
    color: black;
 }

 .profile .messages p {
    min-height: 107px;
    padding: 35px 10px 1px 153px;
 }

 .profile .messages .small {
    font-size: 11px;
 }

.association a, .messages a,
.references a, .invites a {
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    right: 14px;
    bottom: 7px;
}

.profile .invites p {
    padding-bottom: 46px;
}

.users button {
    width: 200px;
    height: 60px;
    background-color: rgb(63, 59, 59);
    color: white;
    font-weight: bold;
    font-size: x-large;
    border: none;
    position: relative;
    left: 200px;
    top: 100px;
}

.footer {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 50px;
}

/* End Content */