* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
}


/* Sart container */

.container {
    display: flex;
    min-height: 100vh;
}

/* End container */


/* Start sidebar */

.sidebar {
    color: white;
    width: 240px;
    background-color: rgb(27, 26, 26);
}

.sidebar .title {
    text-align: center;
    padding: 30px 0;
    margin: 0 30px 20px 10px;
    border-bottom: 1px solid rgb(151, 144, 144);
}

.sidebar .side-span {
    color: rgb(168, 40, 168);
    
}

.sidebar .links {
    list-style: none;
}

.sidebar .links li {
    margin: 0 10px 4px 10px;
    border-radius: 10px;
}

.sidebar .links li .active {
    background-color: rgb(96 92 100 / 40%);
}

.sidebar .links li:not(.active):hover {
    background-color: rgb(76 72 76);
}

.sidebar .links li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

/* End sidebar */

/* Start content */

.content {
    flex-grow: 1;
    background-color: rgb(221, 208, 192);
}

/* Start dashboard */

.row-1, .row-2, .row3 {
    display: flex; 
}

.row-1 .pro {
    flex-grow: 1;
    height: 100px;
    margin: 20px;
    background-color: white;
    border: solid 1px gray;
    border-radius: 6px;
}

.row-2 .pro {
    flex: 1;
    height: 200px;
    margin: 0 20px 20px 20px;
    background-color: white;
    border: solid 1px gray;
    border-radius: 6px;
}

.row-3 .pro {
    flex: 1;
    height: 300px;
    margin: 0 20px 20px  20px;
    background-color: white;
    border: solid 1px gray;
    border-radius: 6px;
}

.content .pro p {
    font-weight: bold;
    font-size: medium;
    position: relative;
    top: 41%;
    text-align: center;
}

/* End dashboard */

/* Start stats */

.stats {
   margin: 15px;
   display: flex;
   justify-content: space-between;
}

.stats .box {
    padding: 20px;
    margin-bottom: 15px;
    background-color: white;
    border-bottom: 1px solid black;
    flex-basis: 24%;                                    /*We have to set the flex-basis up when apply the justify-content property
                                                        to control the space width between the boxes*/
}

.stats .views {
    border-color: #e01057;
}

.stats .members {
    border-color:#149c90;  
}

.stats .comments {
    border-color:#2f4be8; 
}

.stats .articles {
    border-color: #ff5722; 
}

.stats .box p {
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 5px;
}

.stats .box .text {
    font-size: small;
    color: gray;  
}

.stats .views p {
    color:  #e01057;
}

.stats .members p {
    color:  #149c90;  
}

.stats .comments p {
    color:  #2f4be8; 
}

.stats .articles p {
    color:  #ff5722; 
}

.product-images {
    margin: 15px;
    height: 286px;
    display: flex;
    justify-content: space-between;  
}

.product-images .image {
    border: 15px solid rgb(206, 156, 206);
    flex-basis: 31%;
}

/* End stats */

/* Start product table */

.product-table {
    margin: 20px 10px 20px 15px;
    
}

.product-table .product {
    width: 100%;
    border-spacing: 0;
}

.product-table .product td {
    padding: 10px;
    background-color: white;
    text-align: center;
    font-size: small;
}

.product-table .product thead td {
    background-color: #FF5722;
    font-weight: bold;
    color: white;
}

.product-table .product tfoot td {
    border-top: 1px solid #f5ebeb;
}

.product-table .product tfoot td:first-child {
    text-align: right;
} 

.product-table .product tfoot td:last-child {
    color: red;
}

/* End product table */

/* Start form */

.register {
    margin: 20px;
}

 .register .section {
    margin-bottom: 20px;
    background-color: white;
    padding: 30px 20px 20px 20px;
}

.section:before {
    content: "";
    background-color: #E91E63;
    color: white;
    font-weight: bold;
    border-radius: 0 0 10px 0;
    padding: 10px;
    position: relative;
    top: -30px;
    left: -26px;
}

.personal-information:before {
    content: "Personal Information";
}

.personal-information .input-group{
    position: relative;
}

.personal-information .input-group:after {
    content: "*";
    color: red;
    position: absolute;
    right: 10px;
    bottom: 4px;   
}

.address:before {
    content: "Address"
}

.note:before {
    content: "Your Note"
}

.info:before {
    content: "General Information";
}

 .input-group label {
    display: block;
    padding: 10px 0;
    font-weight: bold;
}

.info .input-group label {
    font-weight: normal;
    display: inline-block;
}

.input-group input,
.input-group select,
.note textarea {
    width: 100%;
    padding: 10px;
    background-color: #F5F5F5;
    border: none;
    border-bottom: 1px solid #bdbdbd5c;
}

.info .two {
    padding: 5px;
    background-color: #F5F5F5;
    margin: 5px;
}

hr {
    margin: 20px 0;
}

.info .two input{
    width: 20px;
}

.button {
    width: 100%;
    padding: 10px;
    border:  none;
    font-weight: bold;
    font-size: large;
    color: white;
    background-color:#2196F3;
}

/* End form */

/* Start products */

/*Start first product section */

.products {
    flex: 1;  
    min-height: 100vh;
    background-color: rgb(221, 208, 192);
}

.header {
    flex: 1;
    padding: 15px;  
    padding: 15px;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.products-content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 15px;
    margin-top: 50px;
    flex-flow: wrap;
}

.product-section {
    width: calc(97%/3);
    position: relative;
    margin-bottom: 15px;
}

.pro {
    background-color: white;
    padding: 15px;
}
 
.pro .title {
    background: rgb(0, 102, 255);
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    position: relative
}

.title .pro-span {
    background-color:white;
    color: rgb(0, 102, 255);
    padding: 5px 10px;
    font-weight: bold;
    font-size: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.pro-image {
    position: relative;
}

.pro-image  .price {
    background-color: rgb(199, 70, 91);
    color: white;
    font-size: 12px;
    border-radius: 0 0 5px 0;
    padding: 7px 12px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.pro-image img {
    max-width: 100%;
    border: 1px solid #ccc;
    padding: 3px;
}

.pro .text p {
    color: rgb(133, 128, 128);
    font-size: small;
    line-height: 20px;
    margin: 10px 0 0 ;
}

hr {
    border-top: 1px solid #BDBDBD;
}

.btn-info {
    text-align: right;
}

.btn-info a {
    background-color: #F44336;
    color: white;
    font-size: 12px;
    padding: 8px 7px;
    border-radius: 4px;
    display: inline-block;
}

.product-section:before {
    content: "";
    background-color: rgb(0, 102, 255);
    width: 4px;
    height: 20px;
    right: -4px;
    bottom: -4px;
    position: absolute;
}

.product-section:after {
    content: "";
    background-color: rgb(0, 102, 255);
    width: 20px;
    height: 4px;
    right: 0px;
    bottom: -4px;
    position: absolute;
}

/*End first product section */

/*Start second product section */

.products-content .bottom:after {
    content: "";
    width: 75px;
    height: 2px;
    background-color: #8BC34A;
    top: -2px;
    left: 0;
}

.products-content .bottom:before {
    content: none;
}

.product-section .top {
    background-color: #eeeeee8a;
    color: black;
    border-bottom: 1px solid #eeeeee;
}

.product-section .right  {
    background-color: #8BC34A;
    border-radius: unset;
    color:white;
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
}

.pro-image .p_orange {
    background-color: #FF5722;
    color: white;
    font-size: 12px;
    border-radius: 0%;
    padding: 5px 8px;
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 12px;
}

.bottom .pres  p {
    text-align: center;
}

.hr-buttom {
    margin-bottom: 10px;
}

.bottom .more {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.bottom .more a {
    background-color: #8BC34A;
}

 /*End second product section */

/* End products */

/* End content */